.home {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}

.home__body {
  align-items: stretch;
  width: 100%;

  display: flex;
  height: 100vh;
  overflow: hidden;
}

.home__content {
  flex: 1;
  padding: 16px;
  color: #1b2a41;
  height: 100vh;
  overflow-y: auto;
}
