.home {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}

.home__body {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height)); /* 뷰포트에서 nav 높이만큼 뺌 */

  align-items: stretch;
  overflow: hidden;
}

