.scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    background: #e5e5e5;
}
