.scrollable {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 6px;
    background: #e5e5e5;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-height: 0;
    box-sizing: border-box;
}
