.sidebar {
  width: 220px;
  height: 100%;
  min-height: calc(100vh - 64px);
  background: #f4f6fb;
  border-right: 1px solid #d9e1ee;
  padding: 16px;
  box-sizing: border-box;
}

.sidebar__label {
  margin: 0;
  font-weight: 600;
  color: #1b2a41;
}
