.sidebar {
  height: 100%;
  min-height: 0;
  min-width: 476px;

  display: flex;
  flex-direction: column;

  background: #ffffff;
  padding: 8px 16px;
  gap: 16px;
  box-sizing: border-box;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: 16px;
}

.info-area {
  display: flex;
  flex-direction: column;

  flex:1;
  min-height: 0;

  gap: 4px;
}

.info-box {
  display: block;
  border-radius: 15px;
  padding: 0px;
  background: #e5e5e5;
  overflow: hidden;
  flex: 1;
  min-height: 0;
}
